<section class="tools">

    <div class="container">

        <div class="section-title">

            <h2>Popular Tools</h2>

            <p>
                Everything you need to work with PDF files.
            </p>

        </div>

        <div class="tools-grid">

            <!-- Card -->
            <a href="{{ url_for('image_to_pdf.image_to_pdf') }}" class="tool-card">

                <i class="bi bi-image"></i>

                <h3>Image to PDF</h3>

                <p>Convert JPG and PNG into PDFs.</p>

            </a>

            <a href="{{ url_for('pdf_to_word.pdf_to_word') }}" class="tool-card">

                <i class="bi bi-file-earmark-word"></i>

                <h3>PDF to Word</h3>

                <p>Convert PDFs into editable documents.</p>

            </a>

            <a href="{{ url_for('merge_pdf.merge_pdf') }}" class="tool-card">

                <i class="bi bi-files"></i>

                <h3>Merge PDF</h3>

                <p>Combine multiple PDFs into one.</p>

            </a>

            <a href="{{ url_for('split_pdf.split_pdf') }}" class="tool-card">

                <i class="bi bi-scissors"></i>

                <h3>Split PDF</h3>

                <p>Extract pages from PDFs.</p>

            </a>

        </div>

    </div>

</section>
