<section class="upload-section" id="upload">    

    <div class="container">

        <form class="upload-box" action="/upload" method="POST" enctype="multipart/form-data">

            <i class="bi bi-cloud-arrow-up upload-icon"></i>

            <h2>Drag & Drop your files</h2>

            <p>
                or click to browse from your device
            </p>

            <small>
                Supports PDF, DOCX, XLSX, PPTX, PNG and JPG
            </small>

            <input type="file" name="file" id="fileInput" hidden>
            <p id="selectedFile" class="selected-file">
                No file selected
            </p>

            <p id="uploadStatus" class="upload-status"></p>

            <button type="button" class="btn btn-primary" id="chooseFileBtn">
                Choose File
            </button>

            <button type="submit" class="btn btn-outline">
                Upload
            </button>

        </form>

    </div>

</section>