<section class="upload-section">

    <div class="container">

        <div class="upload-box">

            <i class="bi bi-cloud-arrow-up upload-icon"></i>

            <h2>Drag & Drop your files</h2>

            <p>
                or click to browse from your device
            </p>

            <small>
                Supports PDF, DOCX, XLSX, PPTX, PNG and JPG
            </small>

            <button class="btn btn-primary">
                Choose File
            </button>

        </div>

    </div>

</section>
